.gray-image {
	position: relative;
	overflow: hidden;

	&:hover {
		.image {
			transform: scale(1.2);
			img {
				filter: grayscale(0);
			}
		}
		.text {
			transform: scale(1.2);
		}
	}

	.image {
		width: 100%;
		max-width: 300px;
		transition: ease 0.3s;
		img {
			transition: inherit;
			filter: grayscale(1);
		}
	}
	.text {
		z-index: 2;
		position: absolute;
		transition: ease 0.3s;
		text-shadow: 0 0 5px #000;
	}
	.overlay {
		position: absolute;
		z-index: 1;
		inset: 0;
		transition: ease 0.3s;
	}
}
