.shadow-page {
	position: fixed;
	inset: 0;
	display: grid;
	place-items: center;
	z-index: 2;
	height: 100%;
	.overlay {
		position: absolute;
		inset: 0;
		background-color: rgba(black, 0.5);
		z-index: 1;
	}
	.body {
		position: relative;
		z-index: 2;
		background-color: white;
		width: 90%;
		max-width: 420px;
		max-height: 90%;
		overflow: auto;
	}
}
